.new-user-form {
  display: inline-block;
  margin: 20px;
  box-sizing: border-box;
  height: 250px;
}

.border {
  border-right: 2px soild #FFF; 
}

.form-field {
  display: block;
  width: 350px;
  height: 30px;
  margin: 15px;
  padding-left: 10px;
}

.submit-button {
  display: block;
  width: 350px;
  background-color: #a108ff;
  color: #FFF;
  height: 30px;
  margin: 15px;
  box-sizing: content-box;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #b748fc;
}

.login-header {
  color: #FFF;
  font-size: 1.3rem;
  font-weight: 400;
  margin: 15px;

}