.card {
  position: relative;
  width: 250px;
  height: 408px;
  margin: 20px;
  padding: 0;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.30);
  background-color: white;
}

.movie-img {
  height: 370px;
  background-size: cover;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
}


.vote-avg-circle {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #a108ff;
  position: absolute;
  left: 180px;
  top: 20px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.40);
}

.avg-score {
  font-family: 'Fira Sans', sans-serif;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  font-style: italic;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 15px;
}

.movie-title {
  font-family: 'Fira Sans', sans-serif;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: left;
  letter-spacing: 1px;
  margin: 0;
}

.movie-date {
  font-family: 'Fira Sans', sans-serif;
  color: white;
  font-weight: 400;
  font-style: italic;
  font-size: 0.9rem;
  text-align: left;
  margin: 0;
}

.favorite-button {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 250px;
  padding-top: 8px;
  background-color: #a108ff;
  color: #FFF;
  height: 30px;
  box-sizing: content-box;
  border: none;
  cursor: pointer;
}

.delete-button {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 246.8px;
  padding-top: 8px;
  background-color: whitesmoke;
  color: #a108ff;
  border: 2px solid #a108ff;
  height: 30px;
  box-sizing: content-box;
  /* border: none; */
  cursor: pointer;
}

.delete-button:hover, .favorite-button:hover {
  background-color: #b748fc;
}

.delete-button:hover {
  color: white;
}

.overview {
  opacity: 0;
  position: absolute;
  width: 250px;
  height: 370px;
  color: #fff;
  background-color: rgba(17, 0, 29, 0.675);
  z-index: 1;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  overflow: scroll;
  padding: 30px;
  box-sizing: border-box;
  text-align: left;
  font-size: 0.8rem;
  line-height: 1.2rem;
  transition: opacity 1s ease-out;
}

.overview:hover {
  opacity: 1;
}
